.backtest-form__data {
  display: flex;
  flex-direction: column;
  height: 10rem;
}

.backtest-form_input {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0.5rem ;  /* TODO move to commons styles for Paper */
  justify-content: center;
  align-items: center;
}

.backtest-form_chart-filters {
  height: 3rem; 
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 0.5rem ;
}

.backtest-form_select {
  display: flex;
  gap: 1rem;
}
.backtest-form_datepicker {
  display: flex;
  gap: 0.5rem;
}