.form__data {
  display: flex;
  gap:1rem
}

.form__data_input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__data_datepicker {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: -8px;
}
.form__submit {
  margin: 1rem 0;
}