@font-face {
  font-family: 'Inter';
  src:  url('./assets/fonts/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src:  url('./assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src:  url('./assets/fonts/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src:  url('./assets/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src:  url('./assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100%;
  background-color: #F3F4F7;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8rem;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.8rem;

}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.7rem;
  line-height: 3rem;
  margin-top: 1rem;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 }

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
 }

.data__container {
  background-color: #FFFFFF;
  margin: 1.5rem;
  border-radius: 0.6rem;
  padding: 1.5rem;
  border:none;
}
